@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/f3fa9288-dc04-4f75-b949-b06584863c9c.woff2") format("woff2"), url("/fonts//6b1bbd38-7556-4809-a151-88182a37116e.woff") format("woff");
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/3AB446_0_0.eot');
    src: url('/fonts/3AB446_0_0.eot?#iefix') format('embedded-opentype'), url('/fonts/3AB446_0_0.woff2') format('woff2'), url('/fonts/3AB446_0_0.woff') format('woff'), url('/fonts/3AB446_0_0.ttf') format('truetype');
}